
<div class="card widgets">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <app-widget type="heuresTravail"></app-widget> <!--Le type est a revoir apres-->
      </div>
      <div class="col-3">
        <app-widget type="heuresPause"></app-widget>
      </div>
      <div class="col-3">
        <app-widget type="heureSupplementaires"></app-widget>
      </div>
      <div class="col-3">
        <app-widget type="joursAbsent"></app-widget>
      </div>
    </div>
  </div>
</div>

<div class="card charts">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <app-today></app-today>
      </div>
      <div class="col">
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>

<div class="card annonces">
  <div class="card-body">
    <div class="row">
      <app-worktime></app-worktime>
    </div>
  </div>
</div>
