/* You can add global styles to this file, and also import other style files */
.toast-top-center {
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: auto !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

